.title{
    font-family: var(--font-title);
    font-size: 70px;
    font-weight: 400;
    color: var(--color-font);
    position: relative;
    z-index: 2;
    margin: 4rem 0;
}
.title::after{
    content: '';
    background-color: var(--color-yellow);
    height: 27px;
    width: 31px;
    position: absolute;
    left: -6px;
    bottom: -3px;
    z-index: -1;

}