.button button{
    background-color: var(--color-yellow);
    padding: 1rem 2rem;
    outline: none;
    border: 1px solid #000;
    border-radius: 6px;
    width: 10rem;
    box-shadow: 2px 3px 0px #000;
    transition: .1s;
    display: inline-block;
    cursor: pointer;
    margin: 1rem 0;
    font-family: var(--font);
}
.button button:hover
{
    box-shadow: 0px 0px 0px #000;
}